#
# {{ ansible_managed }}
#
{% if tls_san is defined %}
tls-san:
{% for line in tls_san %}
  - "{{ line }}"
{% endfor %}
{% endif %}
{% if bind_address is defined %}
bind-address: "{{ bind_address }}"
{% endif %}
{% if https_listen_port is defined %}
https-listen-port: "{{ https_listen_port }}"
{% endif %}
{% if advertise_address is defined %}
advertise-address: "{{ advertise_address }}"
{% endif %}
{% if advertise_port is defined %}
advertise-port: "{{ advertise_port }}"
{% endif %}
{% if data_dir is defined %}
data-dir: "{{ data_dir }}"
{% endif %}
{% if node_label is defined %}
node-label:
{% for line in node_label %}
  - "{{ line }}"
{% endfor %}
{% endif %}
{% if token is defined %}
token: "{{ token }}"
{% endif %}
{% if token_file is defined %}
token-file: "{{ token_file }}"
{% endif %}
{% if write_kubeconfig is defined %}
write-kubeconfig: "{{ write_kubeconfig }}"
{% endif %}
{% if write_kubeconfig_mode is defined %}
write-kubeconfig-mode: "{{ write_kubeconfig_mode }}"
{% endif %}
{% if node_name is defined %}
node-name: "{{ node_name }}"
{% endif %}
{% if with_node_id is defined %}
with-node-id: "true"
{% endif %}
{% if node_taint is defined %}
node-taint:
{% for line in node_taint %}
  - "{{ line }}"
{% endfor %}
{% endif %}
{% if docker is defined %}
docker: "true"
{% endif %}
{% if container_runtime_endpoint is defined %}
container-runtime-endpoint: "{{ container_runtime_endpoint }}"
{% endif %}
{% if pause_image is defined %}
pause-image: "{{ pause_image }}"
{% endif %}
{% if private_registry is defined %}
private-registry: "{{ private_registry }}"
{% endif %}
{% if node_ip is defined %}
node-ip: "{{ node_ip }}"
{% endif %}
{% if node_external_ip is defined %}
node-external-ip: "{{ node_external_ip }}"
{% endif %}
