#
# {{ ansible_managed }}
#
{% if tls_san is defined %}
tls-san:
{% for line in tls_san %}
  - {{ line }}
{% endfor %}
{% endif %}
{% if bind_address is defined %}
bind-address: {{ bind_address }}
{% endif %}
{% if https_listen_port is defined %}
https-listen-port: {{ https_listen_port }}
{% endif %}
{% if advertise_address is defined %}
advertise-address: {{ advertise_address }}
{% endif %}
{% if advertise_port is defined %}
advertise-port: {{ advertise_port }}
{% endif %}
{% if data_dir is defined %}
data-dir: {{ data_dir }}
{% endif %}
